@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background:
    radial-gradient(circle at top, rgba(45, 50, 146, 0.08), transparent 30%),
    #f8fafc;
  color: #0f172a;
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
